* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1342px;
}

.d-flex {
    display: flex;
}

.btn {
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mr {
    margin-right: 20px;
}

.mr-1 {
    margin-right: 10px;
}

.ml {
    margin-left: 20px;
}

.pd-t {
    padding-top: 20px;
}

.pd-b {
    padding-bottom: 20px;
}

.pd {
    padding: 10px;
}

.fl-l {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.img-fluid {
    width: 100%;
}

/*header*/
.menu:after {
    content: " ";
    clear: both;
}

header {
    border-top: 5px solid #DA000D;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    padding-top: 16px;
}

.title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 50px;
    font-weight: bold;
}

.logo-sm {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 35px;
    font-weight: bold;
    padding-top: 10px;
}

.sm {
    border-top: 1px solid #DDDDDD;
    display: none;
}

.menu-lst {
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
}

.menu-lst li a {
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}

.menu_header {
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
    display: flex;
    /*height: 45px;*/
}

.menu_header:last-child {
    border-bottom: 1px solid #DDDDDD;
}

.scroll_menu {
    overflow: hidden;

}

.navigation {
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.scroll_menu > ul li {
    display: inline-block;
}

.scroll_menu {
    height: 40px;

}

.scroll_menu > ul {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 5px;
    padding-bottom: 20px;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    list-style-type: none;
    padding-bottom: 10px;
}

.navigation_scroll ul {
    list-style-type: none;

}

.menu_icon {
    margin-left: 20px;
    padding-top: 5px;
}

.wheather {
    padding-top: 5px;
}

.nav-link:hover {
    border-bottom: 3px solid #DA000D;
    transition: ease-in-out .15s;

}

.nav-links {
    color: inherit;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;

}

.nav-links:hover {
    color: #8A8A8A;
}

.btn-group {
    margin-left: auto;

}

.btn-sign-up {
    background: #389674;
    color: white;
    width: 127px;
    height: 38px;
    font-weight: 700;
    padding: 10px;
    outline: 0;

}

.btn-sign-up:hover {
    background: #60BCA0;
    transition: ease-in-out .15s;
}

.btn-sign-in {
    width: 127px;
    height: 38px;
    background: #fff;
    color: inherit;
    border: 1px solid #000;
    font-weight: 700;
    padding: 10px;
    outline: 0;
}

.btn-sign-in:hover {
    background: #666666;
    color: white;
    border: 1px solid #666666;
    transition: ease-in-out .15s;
}

.wheather-item {
    border-right: 1px solid #666666;
    margin-right: 10px;
    font-family: 'Noto Sans', sans-serif;
    padding-right: 5px;
}

.wheather-item:last-child {
    border-right: none;
}
.btn-wheather{
    cursor: pointer;
}
.test {
    content: "";
    height: 40px;
    position: absolute;
    right: 73px;
    width: 32px;
    background: transparent;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .5) 25%, #fff);
    /*background: black;*/
    display: none;
}

.tests {
    content: "";
    height: 40px;
    position: absolute;
    right: 10px;
    width: 32px;
    background: transparent;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .5) 25%, #fff);
    display: none;
}

.wheather-icon {
    margin-right: 20px;
    border-left: 1px solid #666666;
    padding-top: 5px;
    padding-left: 10px;
    margin-left: 10px;
    height: 20px;
    display: none;
}

#navbar .logo-sm {
    font-size: 30px;
    margin-right: 10px;
    padding-top: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    margin: auto;
    border-top: 5px solid #DA000D;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background: white;
    right: 0;
    left: 0;
    z-index: 3;
}

#navbar .menu_header {
    border-top: none;
    /*margin-top: 10px;*/
    width: 600px;
}

#navbar .btn {
    margin-top: 10px;
}

.d-none {
    display: none;
}

/**/

/*wheather-content*/
.wheather-content {
    border: 1px solid #666666;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    background: #ffffff;
    margin: 0 -10px;
    width: auto;
}
.
.wheather-header {
    font-size: 13px;
}

.wheather-date {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}
.wheather-scroll{
    height: 180px;
    overflow: hidden;
}
.wheather-cards{
    background: #F2F2F2;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 15px;
}
.wheather-date p:first-child {
    font-weight: bold;
    text-transform: uppercase;
}


.wheather-card {
    display: inline-block;
    width: 250px;

    margin-right: 10px;
    padding-bottom: 10px;
}
.border-r{
    border-right: 1px solid #afafaf;
}
.active{
    background: #fff;
}
.wheather-header span:first-child {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #DA000D;
}

.wheather-header span:last-child {
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    float: right;
    cursor: pointer;
}
.wheather-climate{
    text-align: center;
}
.wheather-climate span {
    margin-left: 20px;
    font-size: 32px;
    font-weight: bold;
}

.wheather-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    font-size: 16px;
    margin: 4px 0;
    border-top: 1px dotted black;
    padding-top: 15px;
}
.wheather-footer{
    margin-left: auto;
    text-decoration: none;
    color: black;
    font-family: 'Noto Serif', sans-serif;
    font-size: 15px;
    padding: 10px;
}
/**/

/*main*/
.main-news {
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #626262;
}

.items {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD
}

.item-teaser {
    border-right: 1px solid #DDDDDD;
}

.news-item {
    background: #fff;
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.right-item {
    margin-top: 10px;
}

.title-teaser {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-top: 5px solid #DA000D;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 10px;
}

.teaser-item {
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
}

.border-teaser {
    border-left: 5px solid #DA000D
}

ul.teaser-list li:last-child {
    border-bottom: none;
}

.teaser-item:hover {
    background: #EAEAEA;
    cursor: pointer;
}

.teaser-list {
    height: 450px;
    overflow: auto;

}

.scroll {
    position: relative;
}

.btn-scroll {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: hsla(0, 0%, 40%, .75);
    border-radius: 50%;
    border: none;
    color: white;
    top: 155px;
    z-index: 1;
    cursor: pointer;
}

.btn-scroll:hover {
    background-color: #8c5554;
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}

.news-scroll {
    overflow: hidden;
    height: 266px;
}

.scroll-card {
    overflow: auto;
    white-space: nowrap;
}

.scroll-card .title-news {
    font-size: 17px;
}

.card-news {
    width: 220px;
    display: inline-block;
    height: 246px;
    background-color: #ffffff;
}

.card-news p {
    width: 220px;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.categories-title {
    color: #DA000D;
    font-weight: bold;
}

.title-news {
    font-size: 30px;
    font-weight: bold;
}

.right-item .title-news {
    font-size: 20px;
}

.items-content {
    width: 60%;
}

.items-image {
    width: 40%;
}

.srcoll-title {
    background-color: #DA000D;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.srcoll-title span:last-child {
    float: right;
    font-weight: normal;
    font-size: 13px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #CCCCCC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #989898;
}

.dot {
    font-size: 10px;
    color: #DA000D;
}

.time-teaser {
    font-size: 12px;
    color: #DA000D;
    font-family: 'Noto Sans', sans-serif;
}

/**/

/*footer*/
footer {
    background: #333;
    height: 50vh;
}

/**/
@media only screen  and (max-width: 1200px) {
    .d-hidden-l {
        display: none;
    }

    #navbar .logo-sm {
        font-size: 20px;
        margin-top: 5px;
        margin-right: 10px;
    }

    #navbar .menu_header {
        margin-top: 0;
        width: 520px;
    }

}

@media only screen  and (max-width: 1100px) {
    .d-hidden-ads {
        display: none;
    }

    .col-l {
        width: 100%;
    }

    .btn-group {
        position: absolute;
        right: 0;
    }

}

@media only screen  and (max-width: 1024px) {
    .btn-sign-up {
        width: 100px;
        height: 25px;
        padding: 0px;
    }

    .btn-sign-in {
        width: 100px;
        height: 25px;
        padding: 0px;
    }

    .d-hidden {
        display: none;
    }

    #navbar .logo-sm > p {
        display: none;
    }

    #navbar .logo-sm:after {
        content: "dn.";
    }

    #navbar .logo-sm {
        font-size: 40px;
        margin-top: 0;
    }

    #navbar .menu_header {
        width: 550px;
        padding-top: 17px;
    }

    #navbar .btn-group {
        padding-top: 10px;
    }
}

@media only screen  and (max-width: 992px) {
    .fl-l {
        float: none;
    }

    .logo {
        display: none;
    }

    .sm {
        display: flex;
    }

    .logo-sm {
        display: block;
    }

    .wheather {
        display: none;
    }

    #navbar .btn {
        margin-top: 10px;
    }

    .col-sm {
        width: 100%;
    }

    .right-item {
        display: flex;

    }

    .news-image {
        width: 40%;
    }

    .news-content {
        width: 60%;
        padding: 0 10px;
    }

}

@media only screen  and (max-width: 860px) {
    .menu_icon {
        margin-left: 10px;
    }

    #navbar .menu_header {
        padding-top: 20px;
        width: 450px;
    }

    #navbar .logo-sm {
        font-size: 40px;
    }

    .title-news {
        font-size: 25px;
    }

}

@media only screen  and (max-width: 768px) {

    .btn-sign-up {
        width: 100px;
        height: 25px;
        padding: 0px;
    }

    .btn-sign-in {
        width: 100px;
        height: 25px;
        padding: 0px;
    }

    .d-hidden-m {
        display: none;
    }

    #navbar .menu_header {
        display: none;
    }

    #navbar .btn-group {
        padding-top: 0;
    }

    #navbar .logo-sm {
        font-size: 40px;
        padding-top: 0;
    }

    .menu_icon {
        margin-left: 0;
        padding-top: 5px;
    }

    .wheather-icon {
        display: inherit;
    }

    .test {
        display: block;
    }

    .tests {
        display: block;
    }
}

@media only screen  and (max-width: 500px) {
    .d-hidden-sm {
        display: none;
    }

    .logo-sm {
        font-size: 29px;
    }

    .title-news {
        font-size: 20px;
    }
}

@media only screen  and (max-width: 358px) {
    .logo-sm > p {
        display: none;
    }

    .logo-sm:after {
        content: "dn.";
    }

    .title-news {
        font-size: 16px;
    }

}
